In [17]:
import sqlite3
import pandas as pd

In [18]:
conn = sqlite3.connect(r"C:\Users\brand\OneDrive\Desktop\Extract Here\SQLFiles Tier 2\sqlite_db_pythonsqlite.db")
cur = conn.cursor()

In [19]:
#Q10: Produce a list of facilities with a total revenue less than 1000

In [20]:
#Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order.

for row in cur.execute("SELECT firstname,surname,recommendedby FROM Members WHERE Members.recommendedby > 0 ORDER BY firstname,surname LIMIT 10"):
    print(row)

('Anna', 'Mackenzie', '1')
('Anne', 'Baker', '9')
('Charles', 'Owen', '1')
('David', 'Jones', '4')
('David', 'Pinker', '13')
('Douglas', 'Jones', '11')
('Erica', 'Crumpet', '2')
('Florence', 'Bader', '9')
('Gerald', 'Butters', '1')
('Henrietta', 'Rumney', '20')

In [21]:
#Q12: Find the facilities with their usage by member, but not guests

In [22]:
#Q13: Find the facilities usage by month, but not guests
for row in cur.execute("SELECT * FROM Bookings WHERE Bookings.memid > 0 ORDER BY Bookings.starttime LIMIT 10"):
    print(row)

(1, 4, 1, '2012-07-03 08:00:00', 2)
(4, 8, 1, '2012-07-03 10:00:00', 1)
(0, 3, 1, '2012-07-03 11:00:00', 2)
(5, 8, 1, '2012-07-03 15:00:00', 1)
(3, 7, 1, '2012-07-03 19:00:00', 2)
(6, 0, 2, '2012-07-04 09:00:00', 3)
(15, 8, 2, '2012-07-04 12:00:00', 1)
(8, 4, 3, '2012-07-04 13:30:00', 2)
(14, 7, 2, '2012-07-04 14:00:00', 2)
(7, 0, 2, '2012-07-04 15:00:00', 3)